.social-container {
    padding: 10px;
    background: transparent;
    position: fixed;
    bottom: 0;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.pnetwork {
    width: 30px;
}

a.twitter {
    color: #49a1eb;
}

a.telegram {
    color: #2AABEE;
}

@media (max-width: 767.98px) {
    .aaa {
        display: none;
    }
}