{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "react-app",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "root": true,
  "plugins": ["prettier", "@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      },
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json"] // Specify it only for TypeScript files
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "import/newline-after-import": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc" /* sort in ascending order. Options: ['ignore', 'asc', 'desc'] */,
          "caseInsensitive": true /* ignore case. Options: [true, false] */
        }
      }
    ]
  }
}
