{
    "extends": [
      "react-app",
      "eslint:recommended"
    ],
    "rules": {
      "no-console": [
        "error",
        {
          "allow": [
            "warn",
            "error"
          ]
        }
      ]
    }
  }
